.main{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 818px;
    background: linear-gradient(359.7deg, rgba(27, 62, 82, 0.782) 15.72%, rgba(217, 217, 217, 0) 99.86%);
    mix-blend-mode: multiply;
}
.right{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.info{
    margin-right: 15px;
    margin-top: 5px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: #606362;
}
.title{
    margin-right: 15px;
    margin-top: 20px;
    font-family: 'Traditional Arabic';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 143px;
    color: #2D5D78;
}
.btn{
    margin-top: 30px;
    margin-right: 60px;
    cursor: pointer;
}
.btn button{
    margin: 5px;
    width: 178px;
    height: 60px;
    mix-blend-mode: normal;
    border-radius: 5px;
    font-family: 'Tw Cen MT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    margin-top: -5px;
}
.btn .start:hover{
    background-color: #5B7A81;
    color: white;
    border: 2px dashed #2D5D78;
}
.btn .learn:hover{
    background-color: #C0C4CB;
    color: #000000;
    border: 2px dashed #2D5D78;
}
.start{
    background: #C0C4CB;
    color: #000000;
    border: 1px solid #2D5D78;
    cursor: pointer;
}
.learn{
    background: #5B7A81;
    color: white;
    border: 1px solid #2D5D78;
    cursor: pointer;
}
.imgs{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    margin-right: 130px;
}

@media screen and (max-width: 600px) {
    img{
        display: none;
    }
    .btn{
        display: none;
    }
  }
  @media screen and (max-width: 1400px) and (min-width: 600px){
    img{
        display: none;
    }
}