<div class="main">
    <div class="right">
        <p class="title">نظام الشحن</p>
        <p class="info">نقل البضائع بموثوقية ودقة عالية</p> 
        <div class="btn">
            <button (click)="learn()" class="learn" [routerLink]="['/shared/dashboard']">معلومات أكثر</button>&nbsp;&nbsp;
            <button (click)="start()" class="start" [routerLink]="['/shared/login']">ابدأ الآن</button>
        </div>
    </div>
    <div class="imgs">
        <img class="front-image" src="../../../../assets/Images/image.png" alt="Boxes Image">
    </div>
</div>